.navbar{
    background-color:#4A4A4A;
    border-radius: 3px;
    position:sticky;
}

.navbar li{
    float:left;
    list-style: none;
    margin:2px 20px;
}
.navbar li a {
    padding:3px ;
    text-decoration: none;
    color:white;
}
div > h1{
    padding-top: 40px;
    padding-bottom: 15px;
    color:#f79f1f;
    font-size: 54px;
    font-family: 'Fredoka One', cursive;
   text-align :center;
}
div > p{
    font-family: 'Fredoka One', cursive;
    font-weight:1px;
    color:#4A4A4A;
    text-align: center;
    font-size:24px;
}
div > input {
    margin-left:200px;
    border:1px solid #FF9F43;
    border-radius: 20px;
    float:center;
}
div > btn {
    margin-left: 10px;
    color:#ff9f43;
    border:1px solid #4A4A4A;
    background-color:#4A4A4A;
    border-radius:20px;
    font-weight: bold;
    padding-right: 15px;
    padding-left:15px;
    padding-top:2px;
    padding-bottom:5px;

}

div > h6{
    padding-top : 20px;
   margin-left:180px;
   padding-bottom:50px;
}

.photu {
 padding-top:40px;
}


.foot {
 font-size:15px;
 float: center;
}
.foot1{
    float:center;
}

.img_jmbo {
  background-image: url("images/cyan.jpg");
 80.0  background-size: cover;
}
.jmbo{
    color:white;
    font-size:40px;
}
.jmbo1{
    background-color:#FF9F43;
    border:1px solid #FF9F43;
    margin-top: 40px;
    margin-left: 165px;
    margin-bottom: 30px;;
    font-weight: bolder;
    color:#4A4A4A;
    padding:10px;
    font-size: large;
    border-radius: 5px;
}
.jmbo2{
    color:white;
}
.foot_2 {
    font-weight:normal;
    font-size:12px;
    color:grey;
    text-align:center;
}
.font_1{
    padding-top:25px;
    padding-right:25px;
}
.font_f{
    padding-left:80px; 
}
.last_foot{
  font-size: 10px;
}
.marq{
      margin-right:auto;
      padding-right: 20px;
}
.contaner{
    display:flex;
    border:2px solid white;
    flex-direction:row;
    justify-content: center;
    padding-top:20px;
    font-size:15px;
    align-items:center;
    font-family: 'Fredoka One', cursive;
}
.waves{
    background-image: url("images/wave\ \(1\).svg");
    background-size:cover;
}
.waves_1{
    
    font-family:'Fredoka One', cursive; 
    color:white;
    align-items:center;
    font-size:40px;
    padding-top:1.5px;
    
}
.waves_2{
 float:center;
}
.waves_3{
    padding-top:30px;
}
   
